- content_for :title do
  e-learning
  \|
  Edit enrollment
  =@enrollment

.card
  .card-header
    .fa-solid.fa-lock-open
    Edit enrollment
    =@enrollment
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @enrollment
    \|
    = link_to 'Back', enrollments_path

