- content_for :title do
  e-learning
  \|
  New enrollment

.card
  .card-header
    .fa-solid.fa-lock-open
    New enrollment
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back', enrollments_path
