- content_for :title do
  e-learning
  \|
  New enrollment

.card
  .card-header
    .fa-solid.fa-lock-open
    Buy this course
  .card-body
    = form_tag course_enrollments_path(@course) do
      = submit_tag "Pay #{@course.price}", class: 'btn btn-lg btn-success'

  .card-footer
    = link_to 'Back', course_path(@course)
