- content_for :title do
  e-learning
  \|
  =@course.title
  \|
  New lesson

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
\/ New

%br
  .card
    .card-header
      %h3
        Editing lesson
    .card-body
      = render 'form'
    .card-footer
      = link_to 'Back to course', course_path(@course)
