- content_for :title do
  e-learning
  \|
  =@course.title

%p#notice= notice

.row
  .col-lg-6
    = render 'courses/course', course: @course

  .col-lg-6
    - @lessons.each do |lesson|
      =render 'lessons/lesson', lesson: lesson