%h2
  Activities:
  %span.badge.text-bg-secondary
    =@activities.count

%ul.list-group
  - @activities.each do |activity|
    %li.list-group-item
      =activity.id
      =activity.trackable_type
      =activity.trackable_id
      =activity.owner_type
      =activity.owner_id
-#  <li class="list-group-item">An item</li>
-#  <li class="list-group-item">A second item</li>
-#  <li class="list-group-item">A third item</li>
-#  <li class="list-group-item">A fourth item</li>
-#  <li class="list-group-item">And a fifth one</li>
-#</ul>
-#- @activities.each do |activity|
-#  .row
-#    =activity.id
-#    =activity.trackable_type
-#    =activity.trackable_id
-#    =activity.owner_type
-#    =activity.owner_id